div.side-menu
    nav.side-menu-nav
        a(class='side-menu-nav__item', href='/#about')
            span(data-i18n='common:menu:about') #{__('common:menu:about')}
        a(class='side-menu-nav__item', href='/#clients')
            span(data-i18n='common:menu:clients') #{__('common:menu:clients')}
        a(class='side-menu-nav__item', href='/#team')
            span(data-i18n='common:menu:team') #{__('common:menu:team')}
        a(class='side-menu-nav__item', href='/#values')
            span(data-i18n='common:menu:values') #{__('common:menu:values')}
        a(class='side-menu-nav__item', href='/#contacts')
            span(data-i18n='common:menu:contacts') #{__('common:menu:contacts')}
