div.side-menu
    header.side-menu-header
        a.side-menu-header__logo
            //img(src=require('../../img/logo-color.svg'))
        button.btn-close
            //img(src=require('../../img/close-icon.svg'))
    nav.side-menu-nav
        //a(class='side-menu-nav__item isMobile', href='/#sun', data-i18n='common:menu:sun') #{__('common:menu:sun')}
        //a(class='side-menu-nav__item isMobile', href='/#clients', data-i18n='common:menu:clients') #{__('common:menu:clients')}
        //a(class='side-menu-nav__item isMobile', href='/#commercial', data-i18n='common:menu:commercial') #{__('common:menu:commercial')}
        //a(class='side-menu-nav__item isMobile', href='/#civil', data-i18n='common:menu:civil') #{__('common:menu:civil')}
        //a(class='side-menu-nav__item isDesctop', href='/#about', data-i18n='common:menu:about') #{__('common:menu:about')}
        //a(class='side-menu-nav__item', href='/news.html', data-i18n='common:menu:news') #{__('common:menu:news')}
        //a(class='side-menu-nav__item', href='/#contacts', data-i18n='common:menu:contacts') #{__('common:menu:contacts')}
    div(class='languages')
        a(class='languages__item active', href='/#', data-i18n='common:langSwitch:en') #{__('common:langSwitch:en')}
        a(class='languages__item', href='/#', data-i18n='common:langSwitch:ua') #{__('common:langSwitch:ua')}
